<h2>COVID-19 KEY UPDATES</h2>

<table class="table">
  <tr>
    <th>Cases today</th>
    <td>{{c1Data.today}}</td>
  </tr>
  
  <tr>
    <th>Total cases	</th>
    <td>{{c1Data.totalCases}}</td>
  </tr>
  
  <tr>
    <th>Active</th>
    <td>{{c1Data.active}}</td>
  </tr>
  
  <tr>
    <th>Total recovered</th>
    <td>{{c1Data.recovered}}</td>
  </tr>
  
  <tr>
    <th>Deaths today</th>
    <td>{{c1Data.deaths}}</td>
  </tr>
  
  <tr>
    <th>Total deaths</th>
    <td>{{c1Data.totalDeaths}}</td>
  </tr>
  
  <tr>
    <th>Tests performed today</th>
    <td>{{c1Data.test}}</td>
  </tr>

  <tr>
    <th>Total tests performed</th>
    <td>{{c1Data.totalTests}}</td>
  </tr>
  
  <tr>
    <th>Percent positive</th>
    <td>{{c1Data.positive}}</td>
  </tr>
  
  <tr>
    <th>Tests performed per million</th>
    <td>{{c1Data.testPerMillion}}</td>
  </tr>
  
</table>


	
	
	
	
	
	
	

