<h2>ONTARIO STATUS OF CASES </h2>
<table class="table">
    <tr>
      <th>Total Cases</th>
      <td>{{c2Data.cases}}</td>
    </tr>
    
    <tr>
      <th>Resolved</th>
      <td>{{c2Data.resolved}}</td>
    </tr>
    
    <tr>
      <th>Deaths</th>
      <td>{{c2Data.deaths}}</td>
    </tr>
    
    <tr>
      <th>Hospitalized</th>
      <td>{{c2Data.hospitalized}}</td>
    </tr>
    
    <tr>
      <th>ICU</th>
      <td>{{c2Data.icu}}</td>
    </tr>
    
    <tr>
      <th>On ventilator</th>
      <td>{{c2Data.onVentilator}}</td>
    </tr> 
    <br><br>

  </table>

   <tr *ngFor="let vc of dataVacc">
      <td> {{vc.report_date}}</td>
    </tr>
  
